<div class="modal fade" id="appointmentInput" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    @if (User.IsInRole(ProactoDoctor.Utilities.Helper.Admin))
                    {
                        <h5 class="modal-title">Add/Edit Appointment:</h5>
                    }
                    else
                    {
                        <h5 class="modal-title">Appointment Details:</h5>
                    }
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" maxlength="100" class="form-control" id="title" />
                    </div><div class="form-group">
                        <label for="description">Description:</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    @if (User.IsInRole(ProactoDoctor.Utilities.Helper.Admin))
                    {
                        <div class="form-group">
                            <label for="patientId">Select Patient:</label>
                            @Html.DropDownList("patientId", new SelectList(ViewBag.PatientList, "Id", "Name", new { @class = "form-control select2" }))
                        </div>
                    }
                    else
                    {
                        @if (User.IsInRole(ProactoDoctor.Utilities.Helper.Doctor))
                        {
                            <div class="form-group">
                                <label for="lblPatientName">Patient Name:</label>
                                <label type="text" class="form-control" disabled id="lblPatientName"></label>
                            </div>
                            <div class="form-group">
                                <label for="lblstatus">Status:</label>
                                <label type="text" class="form-control" disabled id="lblstatus"></label>
                            </div>
                        }
                        @if (User.IsInRole(ProactoDoctor.Utilities.Helper.Patient))
                        {
                            <div class="form-group">
                                <label for="lblDoctorName">Doctor Name:</label>
                                <label type="text" class="form-control" disabled id="lblDoctorName"></label>
                            </div>
                            <div class="form-group">
                                <label for="lblstatus">Status:</label>
                                <label type="text" class="form-control" disabled id="lblstatus"></label>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <label for="appointmentDate">Appointment Date & Time:</label>
                        <input class="form-control" id="appointmentDate" />
                    </div>

                    <div class="form-group">
                        <label for="duration">Select Duration:</label>
                        <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="Id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Close</button>
                    @if (User.IsInRole(ProactoDoctor.Utilities.Helper.Admin))
                    {
                        <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                        <button type="button" id="btnDelete" class="btn btn-danger hidden" onclick="onDeleteAppointment();">Delete</button>
                    }@if (User.IsInRole(ProactoDoctor.Utilities.Helper.Doctor))
                    {
                        <button type="button" id="btnConfirm" class="btn btn-success" onclick="onConfirm();">Confirm</button>
                        <button type="button" id="btnDelete" class="btn btn-danger hidden" onclick="onDeleteAppointment();">Delete</button>
                    }

                </div>
            </form>
        </div>
    </div>
</div>


